In [ ]:
!pip install selenium

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: selenium in /usr/local/lib/python3.8/dist-packages (4.8.2)
Requirement already satisfied: trio-websocket~=0.9 in /usr/local/lib/python3.8/dist-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.8/dist-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]~=1.26 in /usr/local/lib/python3.8/dist-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in /usr/local/lib/python3.8/dist-packages (from selenium) (0.22.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (22.2.0)
Requirement already satisfied: idna in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: wsproto>=0.14 in /usr/local/lib/python3.8/dist-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [ ]:
# Getting the dynamic table
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup

options = Options()
options.headless = True
driver = webdriver.Chrome(options=options)

url = 'https://csrankings.org/#/fromyear/2012/toyear/2022/index?all&us'
driver.get(url)

driver.implicitly_wait(10)

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

html = soup.prettify()

with open('main.html', 'w') as f:
    f.write(html)

In [ ]:
# Getting University Information
from bs4 import BeautifulSoup
import re

with open('main.html', 'r') as f:
    html = f.read()

soup = BeautifulSoup(html, 'html.parser')

table = soup.find('table', id='ranking')

with open('table.html', 'w') as f:
    f.write(str(table))
    

with open('table.html', 'r') as f:
    html = f.read()

soup = BeautifulSoup(html, 'html.parser')

table = soup.find('table', id='ranking')

tbody = table.find('tbody')
rows = tbody.select('tr:not(tr tr)')

uni_infos = []
for i in range(0, len(rows), 3):

    row = rows[i]

    cells = row.find_all('td')
    rank = cells[0].get_text()
    name = cells[1].get_text()
    score = cells[2].get_text()
    faculty = cells[3].get_text()
    rank = ' '.join(rank.split())
    rank = int(re.sub(r'[^A-Za-z0-9 ]+', '', rank))
    name = ' '.join(name.split())
    name = re.sub(r'[^A-Za-z0-9 ]+', '', name).strip()
    score = ' '.join(score.split())
    score = float(re.sub(r'[^A-Za-z0-9. ]+', '', score))
    faculty = ' '.join(faculty.split())
    faculty = int(re.sub(r'[^A-Za-z0-9 ]+', '', faculty))
    info = [rank, name, score, faculty]
    uni_infos.append(info)

import pandas as pd
df = pd.DataFrame(uni_infos, columns =['rank', 'uni_name', 'count', 'faculty']) 


div_ids = [e.get('id') for e in soup.find_all(lambda tag: tag.get('id') and '-faculty' in tag.get('id'))]

clean_div_ids = [re.sub(r'[^A-Za-z]+', ' ', name).replace('faculty', '').strip() for name in div_ids]
import difflib

def find_best_match(name):
    return difflib.get_close_matches(name,div_ids, cutoff=0.3)[0]
df['div_ids'] = df['uni_name'].apply(find_best_match)

df.to_csv('uni_infos.csv')

data = []
for row in table.find_all('tr')[1:]:
    cols = row.find_all('td')
    print(len(cols))

In [ ]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup
import requests
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

In [ ]:

HTMLFile = open("main.html", "r", encoding="utf8")

index = HTMLFile.read()

S = BeautifulSoup(index, 'html.parser')

In [ ]:
univ_data = pd.read_csv("uni_infos.csv")
univ_data.drop("Unnamed: 0", axis=1, inplace=True)
univ_data.sample(10)

,rank,uni_name,count,faculty,div_ids
71,69,Worcester Polytechnic Institute,1.9,25,Worcester%20Polytechnic%20Institute-faculty
116,113,Texas State University,1.3,10,Texas%20State%20University-faculty
7,8,Cornell University,10.6,82,Cornell%20University-faculty
148,144,OHSU,1.1,3,OHSU-faculty
47,48,North Carolina State University,3.3,43,North%20Carolina%20State%20University-faculty
144,144,Cleveland State University,1.1,4,Cleveland%20State%20University-faculty
42,43,Rice University,3.5,30,Rice%20University-faculty
120,113,University of Kansas,1.3,12,University%20of%20Kansas-faculty
26,26,University of Southern California,5.1,47,University%20of%20Southern%20California-faculty
127,113,University of Texas at San Antonio,1.3,9,University%20of%20Texas%20at%20San%20Antonio-f...

In [ ]:
df = df[df['providing_assitantship']==1]
df = df[df['university_name']=='Florida State University']
df = df[df['faculty_areaname'] == 'hci']
print(df.loc[:, ['faculty_name', 'faculty_home_page', 'faculty_areaname', 'providing_assitantship']])

    faculty_name               faculty_home_page faculty_areaname  \
347     Jie Yang  http://www.cs.fsu.edu/~jieyang              hci
350   Guang Wang            https://guangwang.me              hci

     providing_assitantship
347                       1
350                       1

In [ ]:
div_id = 'Carnegie%20Mellon%20University-faculty'
university = 'Carnegie Mellon University'

# DataFrame1 for faculty name, area, publications and university
# Getting the division of each university which is containing the faculty table
table = S.find('div', {'id': div_id})
df1 = pd.read_html(str(table))[0]
df1.drop('Unnamed: 0', axis=1, inplace=True)
df1 = df1.replace(to_replace='None', value=np.nan).dropna()
df1.columns = ['faculty_name_and_area', 'publications', 'adjusted']
df1['university_name'] = 'Carnegie Mellon University'
df1 = df1.reset_index()
df1.drop('index', axis=1, inplace=True)
df1

,faculty_name_and_area,publications,adjusted,university_name
0,Graham Neubig nlp,135.0,35.1,Carnegie Mellon University
1,Abhinav Gupta 0001 vision,111.0,32.3,Carnegie Mellon University
2,"David P. Woodruff ml , theory",99.0,33.7,Carnegie Mellon University
3,Howie Choset robotics,83.0,19.5,Carnegie Mellon University
4,"Tuomas Sandholm ai , ml",80.0,29.8,Carnegie Mellon University
...,...,...,...,...
161,Bruce H. Krogh,1.0,0.2,Carnegie Mellon University
162,Jack Mostow,1.0,0.5,Carnegie Mellon University
163,Priya Narasimhan,1.0,0.2,Carnegie Mellon University
164,Dana S. Scott,1.0,0.2,Carnegie Mellon University
165,John C. Stamper,1.0,0.3,Carnegie Mellon University

In [ ]:
# DataFrame2 for faculty_homepage, dblp link
headers = []
data = []
for row in table.find_all('tr'):
    row_data = []
    for cell in row.find_all(['td', 'th']):
        link = cell.find('a')
        if link is not None:
            row_data.append(link.get('href'))
        else:
            row_data.append(cell.text.strip())
        if cell.name == 'a':
            if link is not None:
                headers.append('link_row'+ row_data[-1])
    if row_data:
        data.append(row_data)

df2 = pd.DataFrame(data)
df2.columns = df2.iloc[0]
df2 = df2[1:]
df2 = df2.replace(to_replace='None', value=np.nan).dropna()
df2 = df2.iloc[: , :-1]
df2 = df2.iloc[: , 1:]
df2.columns.values[1] = 'dblp'
df2 = df2.reset_index()
df2.drop('index', axis=1, inplace=True)
print(df2.columns)
df2.columns = ['faculty_homepage', 'dblp']
df2

Index(['Faculty', 'dblp'], dtype='object', name=0)

,faculty_homepage,dblp
0,http://www.phontron.com,https://dblp.org/pers/hd/n/Neubig:Graham
1,http://www.cs.cmu.edu/~abhinavg,https://dblp.org/pers/hd/g/Gupta_0001:Abhinav
2,http://www.cs.cmu.edu/~dwoodruf,https://dblp.org/pers/hd/w/Woodruff:David_P%3D
3,http://www.cs.cmu.edu/~./choset,https://dblp.org/pers/hd/c/Choset:Howie
4,http://www.cs.cmu.edu/~sandholm,https://dblp.org/pers/hd/s/Sandholm:Tuomas
...,...,...
161,https://www.ece.cmu.edu/directory/details/89,https://dblp.org/pers/hd/k/Krogh:Bruce_H%3D
162,http://www.cs.cmu.edu/~mostow,https://dblp.org/pers/hd/m/Mostow:Jack
163,http://www.cs.cmu.edu/~priya,https://dblp.org/pers/hd/n/Narasimhan:Priya
164,http://www.cs.cmu.edu/~scott,https://dblp.org/pers/hd/s/Scott:Dana_S%3D
165,https://www.hcii.cmu.edu/people/john-stamper,https://dblp.org/pers/hd/s/Stamper:John_C%3D

In [ ]:
df = pd.concat([df1, df2], axis=1, join='inner')
print(df.columns)
df.columns = ["faculty_name_and_area", "publications", "adjusted", "university_name", "faculty_home_page", "dblp"]
df

Index(['faculty_name_and_area', 'publications', 'adjusted', 'university_name',
       'faculty_homepage', 'dblp'],
      dtype='object')

,faculty_name_and_area,publications,adjusted,university_name,faculty_home_page,dblp
0,Graham Neubig nlp,135.0,35.1,Carnegie Mellon University,http://www.phontron.com,https://dblp.org/pers/hd/n/Neubig:Graham
1,Abhinav Gupta 0001 vision,111.0,32.3,Carnegie Mellon University,http://www.cs.cmu.edu/~abhinavg,https://dblp.org/pers/hd/g/Gupta_0001:Abhinav
2,"David P. Woodruff ml , theory",99.0,33.7,Carnegie Mellon University,http://www.cs.cmu.edu/~dwoodruf,https://dblp.org/pers/hd/w/Woodruff:David_P%3D
3,Howie Choset robotics,83.0,19.5,Carnegie Mellon University,http://www.cs.cmu.edu/~./choset,https://dblp.org/pers/hd/c/Choset:Howie
4,"Tuomas Sandholm ai , ml",80.0,29.8,Carnegie Mellon University,http://www.cs.cmu.edu/~sandholm,https://dblp.org/pers/hd/s/Sandholm:Tuomas
...,...,...,...,...,...,...
161,Bruce H. Krogh,1.0,0.2,Carnegie Mellon University,https://www.ece.cmu.edu/directory/details/89,https://dblp.org/pers/hd/k/Krogh:Bruce_H%3D
162,Jack Mostow,1.0,0.5,Carnegie Mellon University,http://www.cs.cmu.edu/~mostow,https://dblp.org/pers/hd/m/Mostow:Jack
163,Priya Narasimhan,1.0,0.2,Carnegie Mellon University,http://www.cs.cmu.edu/~priya,https://dblp.org/pers/hd/n/Narasimhan:Priya
164,Dana S. Scott,1.0,0.2,Carnegie Mellon University,http://www.cs.cmu.edu/~scott,https://dblp.org/pers/hd/s/Scott:Dana_S%3D
165,John C. Stamper,1.0,0.3,Carnegie Mellon University,https://www.hcii.cmu.edu/people/john-stamper,https://dblp.org/pers/hd/s/Stamper:John_C%3D

In [ ]:
import pandas as pd
import re

def get_areas(s):
    lowercase_words = re.findall(r'\b[a-z]\w*\b', s)
    if len(lowercase_words) == 0:
        return  'unknown'
    else:
        return ','.join(lowercase_words)
def get_name(s):
    lowercase_words = re.findall(r'\b[a-z]\w*\b', s)
    if len(lowercase_words) == 0:
        return  s
    else:
        for word in lowercase_words:
            s = re.sub(r'\b{}\b'.format(word), '', s)
        return re.sub(r'[^a-zA-Z ]+', '', s).strip()
df['faculty_areaname'] = df['faculty_name_and_area'].apply(get_areas)
df['faculty_name_and_area'] = df['faculty_name_and_area'].apply(get_name)
df = df.rename(columns={"faculty_name_and_area": "faculty_name"})
df

,faculty_name,publications,adjusted,university_name,faculty_home_page,dblp,faculty_areaname
0,Graham Neubig,135.0,35.1,Carnegie Mellon University,http://www.phontron.com,https://dblp.org/pers/hd/n/Neubig:Graham,nlp
1,Abhinav Gupta,111.0,32.3,Carnegie Mellon University,http://www.cs.cmu.edu/~abhinavg,https://dblp.org/pers/hd/g/Gupta_0001:Abhinav,vision
2,David P Woodruff,99.0,33.7,Carnegie Mellon University,http://www.cs.cmu.edu/~dwoodruf,https://dblp.org/pers/hd/w/Woodruff:David_P%3D,"ml,theory"
3,Howie Choset,83.0,19.5,Carnegie Mellon University,http://www.cs.cmu.edu/~./choset,https://dblp.org/pers/hd/c/Choset:Howie,robotics
4,Tuomas Sandholm,80.0,29.8,Carnegie Mellon University,http://www.cs.cmu.edu/~sandholm,https://dblp.org/pers/hd/s/Sandholm:Tuomas,"ai,ml"
...,...,...,...,...,...,...,...
161,Bruce H. Krogh,1.0,0.2,Carnegie Mellon University,https://www.ece.cmu.edu/directory/details/89,https://dblp.org/pers/hd/k/Krogh:Bruce_H%3D,unknown
162,Jack Mostow,1.0,0.5,Carnegie Mellon University,http://www.cs.cmu.edu/~mostow,https://dblp.org/pers/hd/m/Mostow:Jack,unknown
163,Priya Narasimhan,1.0,0.2,Carnegie Mellon University,http://www.cs.cmu.edu/~priya,https://dblp.org/pers/hd/n/Narasimhan:Priya,unknown
164,Dana S. Scott,1.0,0.2,Carnegie Mellon University,http://www.cs.cmu.edu/~scott,https://dblp.org/pers/hd/s/Scott:Dana_S%3D,unknown
165,John C. Stamper,1.0,0.3,Carnegie Mellon University,https://www.hcii.cmu.edu/people/john-stamper,https://dblp.org/pers/hd/s/Stamper:John_C%3D,unknown

In [ ]:
print(df.columns)

Index(['faculty_name', 'publications', 'adjusted', 'university_name',
       'faculty_home_page', 'dblp', 'faculty_areaname'],
      dtype='object')

In [ ]:
new_df = df
new_df['faculty_areaname'] = new_df.faculty_areaname.str.split(',')
new_df = new_df.explode('faculty_areaname')

In [ ]:
new_df.head(10)

,faculty_name,publications,adjusted,university_name,faculty_home_page,dblp,faculty_areaname
0,Graham Neubig,135.0,35.1,Carnegie Mellon University,http://www.phontron.com,https://dblp.org/pers/hd/n/Neubig:Graham,nlp
1,Abhinav Gupta,111.0,32.3,Carnegie Mellon University,http://www.cs.cmu.edu/~abhinavg,https://dblp.org/pers/hd/g/Gupta_0001:Abhinav,vision
2,David P Woodruff,99.0,33.7,Carnegie Mellon University,http://www.cs.cmu.edu/~dwoodruf,https://dblp.org/pers/hd/w/Woodruff:David_P%3D,ml
2,David P Woodruff,99.0,33.7,Carnegie Mellon University,http://www.cs.cmu.edu/~dwoodruf,https://dblp.org/pers/hd/w/Woodruff:David_P%3D,theory
3,Howie Choset,83.0,19.5,Carnegie Mellon University,http://www.cs.cmu.edu/~./choset,https://dblp.org/pers/hd/c/Choset:Howie,robotics
4,Tuomas Sandholm,80.0,29.8,Carnegie Mellon University,http://www.cs.cmu.edu/~sandholm,https://dblp.org/pers/hd/s/Sandholm:Tuomas,ai
4,Tuomas Sandholm,80.0,29.8,Carnegie Mellon University,http://www.cs.cmu.edu/~sandholm,https://dblp.org/pers/hd/s/Sandholm:Tuomas,ml
5,Pradeep Ravikumar,79.0,20.8,Carnegie Mellon University,http://www.cs.cmu.edu/~pradeepr,https://dblp.org/pers/hd/r/Ravikumar:Pradeep,ml
6,Martial Hebert,78.0,22.0,Carnegie Mellon University,http://www.cs.cmu.edu/~./hebert,https://dblp.org/pers/hd/h/Hebert:Martial,vision
7,Deva Ramanan,77.0,24.4,Carnegie Mellon University,http://www.cs.cmu.edu/~deva,https://dblp.org/pers/hd/r/Ramanan:Deva,vision

In [ ]:
print(len(new_df[new_df['faculty_areaname']=='unknown']))

13

In [ ]:
univ_data.columns

Index(['rank', 'uni_name', 'count', 'faculty', 'div_ids'], dtype='object')

In [ ]:

from tqdm import tqdm
all_df = []
for i in tqdm(range(len(univ_data))):
    
    div_id = univ_data.loc[i, 'div_ids']
    university = univ_data.loc[i, 'uni_name']
    print(university)
    # DataFrame1 for faculty name, area, publications and university
    # Getting the division of each university which is containing the faculty table
    table = S.find('div', {'id': div_id})
    df1 = pd.read_html(str(table))[0]
    df1.drop('Unnamed: 0', axis=1, inplace=True)
    df1 = df1.replace(to_replace='None', value=np.nan).dropna()
    df1.columns = ['faculty_name_and_area', 'publications', 'adjusted']
    df1['university_name'] = university
    df1 = df1.reset_index()
    df1.drop('index', axis=1, inplace=True)
    # DataFrame2 for faculty_homepage, dblp link
    headers = []
    data = []
    for row in table.find_all('tr'):
        row_data = []
        for cell in row.find_all(['td', 'th']):
            # Extract hyperlink if it exists
            link = cell.find('a')
            if link is not None:
                row_data.append(link.get('href'))
            else:
                row_data.append(cell.text.strip())

            # Extract header if it exists
            if cell.name == 'a':
                if link is not None:
                    headers.append('link_row'+ row_data[-1])
        if row_data:
            data.append(row_data)
    df2 = pd.DataFrame(data)
    df2.columns = df2.iloc[0]
    df2 = df2[1:]
    df2 = df2.replace(to_replace='None', value=np.nan).dropna()
    df2 = df2.iloc[: , :-1]
    df2 = df2.iloc[: , 1:]
    df2.columns.values[1] = 'dblp'
    df2 = df2.reset_index()
    df2.drop('index', axis=1, inplace=True)
    df2.columns = ['faculty_homepage', 'dblp']
    df = pd.concat([df1, df2], axis=1, join='inner')
    df.columns = ["faculty_name_and_area", "publications", "adjusted", "university_name", "faculty_home_page", "dblp"]
    df['faculty_areaname'] = df['faculty_name_and_area'].apply(get_areas)
    df['faculty_name_and_area'] = df['faculty_name_and_area'].apply(get_name)
    df = df.rename(columns={"faculty_name_and_area": "faculty_name"})
    new_df = df
    new_df['faculty_areaname'] = new_df.faculty_areaname.str.split(',')
    new_df = new_df.explode('faculty_areaname')
    all_df.append(new_df)

  0%|          | 0/187 [00:00<?, ?it/s]

Carnegie Mellon University

  1%|          | 1/187 [00:00<00:50,  3.70it/s]

Univ of Illinois at UrbanaChampaign

  1%|          | 2/187 [00:00<00:47,  3.93it/s]

Massachusetts Institute of Technology

  2%|▏         | 3/187 [00:00<00:44,  4.10it/s]

Univ of California  San Diego

  2%|▏         | 4/187 [00:01<00:47,  3.84it/s]

University of Michigan

  3%|▎         | 5/187 [00:01<00:50,  3.62it/s]

Stanford University

  3%|▎         | 6/187 [00:01<00:48,  3.71it/s]

University of Washington

  4%|▎         | 7/187 [00:01<00:49,  3.67it/s]

Cornell University

  4%|▍         | 8/187 [00:02<00:51,  3.45it/s]

Univ of California  Berkeley

  5%|▍         | 9/187 [00:02<00:54,  3.28it/s]

Georgia Institute of Technology

  5%|▌         | 10/187 [00:02<00:58,  3.01it/s]

University of Maryland  College Park

  6%|▌         | 11/187 [00:03<01:01,  2.88it/s]

Northeastern University

  6%|▋         | 12/187 [00:03<01:02,  2.80it/s]

Purdue University

  7%|▋         | 13/187 [00:04<01:03,  2.74it/s]

Columbia University

  7%|▋         | 14/187 [00:04<01:04,  2.69it/s]

University of Texas at Austin

  8%|▊         | 15/187 [00:04<01:04,  2.66it/s]

University of Wisconsin  Madison

  9%|▊         | 16/187 [00:05<01:06,  2.58it/s]

University of Pennsylvania

  9%|▉         | 17/187 [00:05<01:07,  2.51it/s]

Princeton University

 10%|▉         | 18/187 [00:06<01:09,  2.42it/s]

New York University

 10%|█         | 19/187 [00:06<01:11,  2.37it/s]

Univ of California  Los Angeles

 11%|█         | 20/187 [00:07<01:11,  2.35it/s]

University of Massachusetts Amherst

 11%|█         | 21/187 [00:07<01:12,  2.28it/s]

Stony Brook University

 12%|█▏        | 22/187 [00:08<01:17,  2.12it/s]

Univ of California  Santa Barbara

 12%|█▏        | 23/187 [00:08<01:29,  1.84it/s]

Rutgers University

 13%|█▎        | 24/187 [00:09<01:38,  1.65it/s]

University of Chicago

 13%|█▎        | 25/187 [00:10<01:45,  1.54it/s]

Univ of California  Irvine

 14%|█▍        | 26/187 [00:10<01:38,  1.63it/s]

University of Southern California

 14%|█▍        | 27/187 [00:11<01:33,  1.71it/s]

Duke University

 15%|█▍        | 28/187 [00:11<01:29,  1.77it/s]

Pennsylvania State University

 16%|█▌        | 29/187 [00:12<01:29,  1.77it/s]

Univ of California  Riverside

 16%|█▌        | 30/187 [00:12<01:27,  1.80it/s]

Northwestern University

 17%|█▋        | 31/187 [00:13<01:26,  1.81it/s]

Ohio State University

 17%|█▋        | 32/187 [00:13<01:25,  1.82it/s]

Harvard University

 18%|█▊        | 33/187 [00:14<01:25,  1.81it/s]

University of Utah

 18%|█▊        | 34/187 [00:15<01:26,  1.77it/s]

Yale University

 19%|█▊        | 35/187 [00:15<01:26,  1.76it/s]

George Mason University

 19%|█▉        | 36/187 [00:16<01:28,  1.71it/s]

Brown University

 20%|█▉        | 37/187 [00:16<01:27,  1.71it/s]

Texas AM University

 20%|██        | 38/187 [00:17<01:28,  1.68it/s]

Univ of California  Santa Cruz

 21%|██        | 39/187 [00:18<01:30,  1.63it/s]

Boston University

 21%|██▏       | 40/187 [00:18<01:30,  1.62it/s]

University at Buffalo

 22%|██▏       | 41/187 [00:19<01:31,  1.59it/s]

University of Illinois at Chicago

 22%|██▏       | 42/187 [00:20<01:31,  1.58it/s]

Rice University

 23%|██▎       | 43/187 [00:21<01:46,  1.36it/s]

University of Colorado Boulder

 24%|██▎       | 44/187 [00:22<02:00,  1.18it/s]

Arizona State University

 24%|██▍       | 45/187 [00:23<01:58,  1.20it/s]

University of Minnesota

 25%|██▍       | 46/187 [00:23<01:51,  1.26it/s]

University of Virginia

 25%|██▌       | 47/187 [00:24<01:58,  1.18it/s]

North Carolina State University

 26%|██▌       | 48/187 [00:25<02:09,  1.07it/s]

University of North Carolina

 26%|██▌       | 49/187 [00:26<02:06,  1.09it/s]

Univ of California  Davis

 27%|██▋       | 50/187 [00:27<01:57,  1.17it/s]

Oregon State University

 27%|██▋       | 51/187 [00:28<01:51,  1.22it/s]

Virginia Tech

 28%|██▊       | 52/187 [00:28<01:47,  1.25it/s]

Indiana University

 28%|██▊       | 53/187 [00:29<01:45,  1.27it/s]

Johns Hopkins University

 29%|██▉       | 54/187 [00:30<01:43,  1.29it/s]

University of Pittsburgh

 29%|██▉       | 55/187 [00:31<01:41,  1.30it/s]

University of Central Florida

 30%|██▉       | 56/187 [00:31<01:40,  1.30it/s]

Michigan State University

 30%|███       | 57/187 [00:32<01:42,  1.27it/s]

University of Rochester

 31%|███       | 58/187 [00:33<01:58,  1.09it/s]

University of Texas at Dallas

 32%|███▏      | 59/187 [00:35<02:04,  1.03it/s]

Washington University in St Louis

 32%|███▏      | 60/187 [00:35<01:55,  1.10it/s]

Rochester Institute of Technology

 33%|███▎      | 61/187 [00:36<01:51,  1.13it/s]

Univ of California  Merced

 33%|███▎      | 62/187 [00:37<01:46,  1.18it/s]

University of Notre Dame

 34%|███▎      | 63/187 [00:38<01:42,  1.21it/s]

University of Texas at Arlington

 34%|███▍      | 64/187 [00:39<01:40,  1.23it/s]

Binghamton University

 35%|███▍      | 65/187 [00:39<01:37,  1.25it/s]

Dartmouth College

 35%|███▌      | 66/187 [00:40<01:37,  1.25it/s]

University of Connecticut

 36%|███▌      | 67/187 [00:41<01:36,  1.24it/s]

University of Florida

 36%|███▋      | 68/187 [00:42<01:36,  1.24it/s]

California Institute of Technology

 37%|███▋      | 69/187 [00:43<01:34,  1.25it/s]

TTI Chicago

 37%|███▋      | 70/187 [00:43<01:33,  1.25it/s]

Vanderbilt University

 38%|███▊      | 71/187 [00:44<01:33,  1.24it/s]

Worcester Polytechnic Institute

 39%|███▊      | 72/187 [00:45<01:44,  1.10it/s]

Clemson University

 39%|███▉      | 73/187 [00:47<01:57,  1.03s/it]

College of William and Mary

 40%|███▉      | 74/187 [00:47<01:51,  1.01it/s]

Stevens Institute of Technology

 40%|████      | 75/187 [00:48<01:45,  1.06it/s]

Tufts University

 41%|████      | 76/187 [00:49<01:40,  1.10it/s]

University of Delaware

 41%|████      | 77/187 [00:50<01:37,  1.13it/s]

CUNY

 42%|████▏     | 78/187 [00:51<01:36,  1.13it/s]

Florida State University

 42%|████▏     | 79/187 [00:52<01:33,  1.15it/s]

Iowa State University

 43%|████▎     | 80/187 [00:53<01:32,  1.16it/s]

NJIT

 43%|████▎     | 81/187 [00:53<01:31,  1.16it/s]

University of Houston

 44%|████▍     | 82/187 [00:54<01:30,  1.16it/s]

University of Oregon

 44%|████▍     | 83/187 [00:55<01:29,  1.16it/s]

Colorado School of Mines

 45%|████▍     | 84/187 [00:56<01:28,  1.16it/s]

Emory University

 45%|████▌     | 85/187 [00:57<01:29,  1.14it/s]

Georgetown University

 46%|████▌     | 86/187 [00:58<01:43,  1.02s/it]

Illinois Institute of Technology

 47%|████▋     | 87/187 [00:59<01:47,  1.07s/it]

Syracuse University

 47%|████▋     | 88/187 [01:00<01:40,  1.02s/it]

Temple University

 48%|████▊     | 89/187 [01:01<01:35,  1.03it/s]

University of Arizona

 48%|████▊     | 90/187 [01:02<01:31,  1.06it/s]

University of Tennessee

 49%|████▊     | 91/187 [01:03<01:29,  1.07it/s]

Washington State University

 49%|████▉     | 92/187 [01:04<01:34,  1.01it/s]

Brigham Young University

 50%|████▉     | 93/187 [01:06<01:49,  1.16s/it]

George Washington University

 50%|█████     | 94/187 [01:07<01:46,  1.14s/it]

Lehigh University

 51%|█████     | 95/187 [01:08<01:38,  1.07s/it]

Portland State University

 51%|█████▏    | 96/187 [01:09<01:32,  1.02s/it]

Rensselaer Polytechnic Institute

 52%|█████▏    | 97/187 [01:10<01:33,  1.04s/it]

UNC  Charlotte

 52%|█████▏    | 98/187 [01:11<01:44,  1.17s/it]

University of Georgia

 53%|█████▎    | 99/187 [01:12<01:38,  1.12s/it]

University of Massachusetts Lowell

 53%|█████▎    | 100/187 [01:13<01:32,  1.06s/it]

University of Nebraska

 54%|█████▍    | 101/187 [01:14<01:27,  1.02s/it]

University of South Carolina

 55%|█████▍    | 102/187 [01:15<01:24,  1.01it/s]

Wayne State University

 55%|█████▌    | 103/187 [01:16<01:22,  1.02it/s]

Augusta University

 56%|█████▌    | 104/187 [01:17<01:20,  1.03it/s]

Boston College

 56%|█████▌    | 105/187 [01:18<01:18,  1.05it/s]

Brandeis University

 57%|█████▋    | 106/187 [01:19<01:16,  1.06it/s]

Case Western Reserve University

 57%|█████▋    | 107/187 [01:20<01:15,  1.06it/s]

Drexel University

 58%|█████▊    | 108/187 [01:21<01:14,  1.06it/s]

Florida International University

 58%|█████▊    | 109/187 [01:21<01:14,  1.05it/s]

Tulane University

 59%|█████▉    | 110/187 [01:23<01:25,  1.11s/it]

University of Iowa

 59%|█████▉    | 111/187 [01:24<01:27,  1.15s/it]

University of Louisiana  Lafayette

 60%|█████▉    | 112/187 [01:25<01:21,  1.09s/it]

Colorado State University

 60%|██████    | 113/187 [01:26<01:17,  1.04s/it]

DePaul University

 61%|██████    | 114/187 [01:27<01:14,  1.02s/it]

Kent State University

 61%|██████▏   | 115/187 [01:28<01:12,  1.00s/it]

Michigan Technological University

 62%|██████▏   | 116/187 [01:29<01:09,  1.02it/s]

Texas State University

 63%|██████▎   | 117/187 [01:30<01:08,  1.03it/s]

UCCS

 63%|██████▎   | 118/187 [01:31<01:06,  1.03it/s]

Univ of Maryland  Baltimore County

 64%|██████▎   | 119/187 [01:32<01:05,  1.03it/s]

University of Arkansas

 64%|██████▍   | 120/187 [01:33<01:05,  1.03it/s]

University of Kansas

 65%|██████▍   | 121/187 [01:34<01:04,  1.02it/s]

University of Kentucky

 65%|██████▌   | 122/187 [01:35<01:14,  1.14s/it]

University of Memphis

 66%|██████▌   | 123/187 [01:37<01:15,  1.17s/it]

University of Nevada

 66%|██████▋   | 124/187 [01:38<01:10,  1.12s/it]

University of New Hampshire

 67%|██████▋   | 125/187 [01:39<01:06,  1.07s/it]

University of North Texas

 67%|██████▋   | 126/187 [01:40<01:03,  1.04s/it]

University of South Florida

 68%|██████▊   | 127/187 [01:40<01:01,  1.02s/it]

University of Texas at San Antonio

 68%|██████▊   | 128/187 [01:41<00:59,  1.00s/it]

Virginia Commonwealth University

 69%|██████▉   | 129/187 [01:42<00:57,  1.01it/s]

Auburn University

 70%|██████▉   | 130/187 [01:43<00:56,  1.01it/s]

Georgia State University

 70%|███████   | 131/187 [01:44<00:55,  1.02it/s]

IUPUI

 71%|███████   | 132/187 [01:45<00:54,  1.01it/s]

Kansas State University

 71%|███████   | 133/187 [01:46<00:55,  1.03s/it]

Louisiana State University

 72%|███████▏  | 134/187 [01:48<01:03,  1.20s/it]

New Mexico State University

 72%|███████▏  | 135/187 [01:49<01:01,  1.17s/it]

Northern Arizona University

 73%|███████▎  | 136/187 [01:50<00:57,  1.12s/it]

Old Dominion University

 73%|███████▎  | 137/187 [01:51<00:54,  1.08s/it]

Texas Tech University

 74%|███████▍  | 138/187 [01:52<00:51,  1.06s/it]

University of Hawaii at Manoa

 74%|███████▍  | 139/187 [01:53<00:49,  1.04s/it]

University of MichiganDearborn

 75%|███████▍  | 140/187 [01:54<00:48,  1.03s/it]

University of New Mexico

 75%|███████▌  | 141/187 [01:55<00:46,  1.02s/it]

University of Vermont

 76%|███████▌  | 142/187 [01:56<00:45,  1.01s/it]

West Virginia University

 76%|███████▋  | 143/187 [01:57<00:44,  1.02s/it]

Boise State University

 77%|███████▋  | 144/187 [01:58<00:43,  1.01s/it]

Cleveland State University

 78%|███████▊  | 145/187 [02:00<00:47,  1.14s/it]

Florida Atlantic University

 78%|███████▊  | 146/187 [02:01<00:50,  1.22s/it]

Mississippi State University

 79%|███████▊  | 147/187 [02:02<00:46,  1.16s/it]

Naval Postgraduate School

 79%|███████▉  | 148/187 [02:03<00:43,  1.11s/it]

OHSU

 80%|███████▉  | 149/187 [02:04<00:41,  1.08s/it]

Ohio University

 80%|████████  | 150/187 [02:05<00:39,  1.06s/it]

Oklahoma State University

 81%|████████  | 151/187 [02:06<00:37,  1.05s/it]

The University of Alabama

 81%|████████▏ | 152/187 [02:07<00:36,  1.04s/it]

Towson University

 82%|████████▏ | 153/187 [02:08<00:35,  1.03s/it]

UNC  Greensboro

 82%|████████▏ | 154/187 [02:09<00:33,  1.02s/it]

University at Albany  SUNY

 83%|████████▎ | 155/187 [02:10<00:32,  1.00s/it]

University of Alabama  Birmingham

 83%|████████▎ | 156/187 [02:11<00:33,  1.08s/it]

University of Cincinnati

 84%|████████▍ | 157/187 [02:13<00:37,  1.24s/it]

University of Colorado  Denver

 84%|████████▍ | 158/187 [02:14<00:34,  1.18s/it]

University of Denver

 85%|████████▌ | 159/187 [02:15<00:31,  1.13s/it]

University of Massachusetts Boston

 86%|████████▌ | 160/187 [02:16<00:29,  1.09s/it]

University of Miami

 86%|████████▌ | 161/187 [02:17<00:27,  1.07s/it]

University of Missouri

 87%|████████▋ | 162/187 [02:18<00:26,  1.06s/it]

University of Nebraska  Omaha

 87%|████████▋ | 163/187 [02:19<00:24,  1.02s/it]

University of Nevada Las Vegas

 88%|████████▊ | 164/187 [02:20<00:23,  1.02s/it]

University of New Orleans

 88%|████████▊ | 165/187 [02:21<00:22,  1.02s/it]

University of Southern Mississippi

 89%|████████▉ | 166/187 [02:22<00:21,  1.02s/it]

University of Texas  El Paso

 89%|████████▉ | 167/187 [02:23<00:20,  1.02s/it]

University of Wisconsin  Milwaukee

 90%|████████▉ | 168/187 [02:25<00:22,  1.21s/it]

University of Wyoming

 90%|█████████ | 169/187 [02:26<00:22,  1.23s/it]

Utah State University

 91%|█████████ | 170/187 [02:27<00:19,  1.17s/it]

Western Michigan University

 91%|█████████▏| 171/187 [02:28<00:18,  1.13s/it]

Wichita State University

 92%|█████████▏| 172/187 [02:29<00:16,  1.10s/it]

Florida Institute of Technology

 93%|█████████▎| 173/187 [02:30<00:15,  1.08s/it]

Indiana State University

 93%|█████████▎| 174/187 [02:31<00:13,  1.07s/it]

Missouri ST

 94%|█████████▎| 175/187 [02:32<00:12,  1.06s/it]

Missouri University of Technology

 94%|█████████▍| 176/187 [02:33<00:11,  1.05s/it]

Montana State University

 95%|█████████▍| 177/187 [02:34<00:10,  1.05s/it]

New Mexico Tech

 95%|█████████▌| 178/187 [02:35<00:09,  1.04s/it]

Nova Southeastern University

 96%|█████████▌| 179/187 [02:37<00:09,  1.20s/it]

Oakland University

 96%|█████████▋| 180/187 [02:38<00:08,  1.26s/it]

Shanghaitech University

 97%|█████████▋| 181/187 [02:39<00:07,  1.19s/it]

Southern Methodist University

 97%|█████████▋| 182/187 [02:40<00:05,  1.14s/it]

University of Alabama  Huntsville

 98%|█████████▊| 183/187 [02:41<00:04,  1.11s/it]

University of Louisville

 98%|█████████▊| 184/187 [02:42<00:03,  1.09s/it]

University of Missouri  Kansas City

 99%|█████████▉| 185/187 [02:43<00:02,  1.07s/it]

University of Oklahoma

 99%|█████████▉| 186/187 [02:45<00:01,  1.06s/it]

University of Tulsa

100%|██████████| 187/187 [02:46<00:00,  1.13it/s]

In [ ]:
all_df = pd.concat(all_df)

In [ ]:
all_df

,faculty_name,publications,adjusted,university_name,faculty_home_page,dblp,faculty_areaname
0,Graham Neubig,135.0,35.1,Carnegie Mellon University,http://www.phontron.com,https://dblp.org/pers/hd/n/Neubig:Graham,nlp
1,Abhinav Gupta,111.0,32.3,Carnegie Mellon University,http://www.cs.cmu.edu/~abhinavg,https://dblp.org/pers/hd/g/Gupta_0001:Abhinav,vision
2,David P Woodruff,99.0,33.7,Carnegie Mellon University,http://www.cs.cmu.edu/~dwoodruf,https://dblp.org/pers/hd/w/Woodruff:David_P%3D,ml
2,David P Woodruff,99.0,33.7,Carnegie Mellon University,http://www.cs.cmu.edu/~dwoodruf,https://dblp.org/pers/hd/w/Woodruff:David_P%3D,theory
3,Howie Choset,83.0,19.5,Carnegie Mellon University,http://www.cs.cmu.edu/~./choset,https://dblp.org/pers/hd/c/Choset:Howie,robotics
...,...,...,...,...,...,...,...
1,Christan Grant,1.0,0.2,University of Oklahoma,http://www.ou.edu/coe/cs/people/cgrant,https://dblp.org/pers/hd/g/Grant:Christan,unknown
2,Amy McGovern,1.0,0.2,University of Oklahoma,http://www.ou.edu/coe/cs/people/mcgovern,https://dblp.org/pers/hd/m/McGovern:Amy,unknown
3,Chris E. Weaver,1.0,0.5,University of Oklahoma,http://cs.ou.edu/~weaver/academic,https://dblp.org/pers/hd/w/Weaver:Chris_E%3D,unknown
0,Tyler Moore,4.0,1.1,University of Tulsa,https://tylermoore.ens.utulsa.edu,https://dblp.org/pers/hd/m/Moore_0001:Tyler,security
1,John Hale,1.0,0.2,University of Tulsa,https://faculty.utulsa.edu/faculty/john-hale,https://dblp.org/pers/hd/h/Hale:John,unknown

In [ ]:
print(len(all_df[all_df['faculty_areaname']=='hci']))

422

In [ ]:
all_df.to_csv('all_faculty_info.csv')

In [ ]:
div_ids = ['Carnegie%20Mellon%20University-faculty', 'Univ.%20of%20Illinois%20at%20Urbana-Champaign-faculty', 'Florida%20State%20University-faculty']
universities = ['Carnegie Mellon University', 'Univ of Illinois at UrbanaChampaign','Florida State University']

from tqdm import tqdm
three_df = []
for i in tqdm(range(3)):
    
    div_id = div_ids[i]
    university = universities[i]
    print(university)
    # DataFrame1 for faculty name, area, publications and university
    # Getting the division of each university which is containing the faculty table
    table = S.find('div', {'id': div_id})
    df1 = pd.read_html(str(table))[0]
    df1.drop('Unnamed: 0', axis=1, inplace=True)
    df1 = df1.replace(to_replace='None', value=np.nan).dropna()
    df1.columns = ['faculty_name_and_area', 'publications', 'adjusted']
    df1['university_name'] = university
    df1 = df1.reset_index()
    df1.drop('index', axis=1, inplace=True)
    # DataFrame2 for faculty_homepage, dblp link
    headers = []
    data = []
    for row in table.find_all('tr'):
        row_data = []
        for cell in row.find_all(['td', 'th']):
            # Extract hyperlink if it exists
            link = cell.find('a')
            if link is not None:
                row_data.append(link.get('href'))
            else:
                row_data.append(cell.text.strip())

            # Extract header if it exists
            if cell.name == 'a':
                if link is not None:
                    headers.append('link_row'+ row_data[-1])
        if row_data:
            data.append(row_data)
    df2 = pd.DataFrame(data)
    df2.columns = df2.iloc[0]
    df2 = df2[1:]
    df2 = df2.replace(to_replace='None', value=np.nan).dropna()
    df2 = df2.iloc[: , :-1]
    df2 = df2.iloc[: , 1:]
    df2.columns.values[1] = 'dblp'
    df2 = df2.reset_index()
    df2.drop('index', axis=1, inplace=True)
    df2.columns = ['faculty_homepage', 'dblp']
    df = pd.concat([df1, df2], axis=1, join='inner')
    df.columns = ["faculty_name_and_area", "publications", "adjusted", "university_name", "faculty_home_page", "dblp"]
    df['faculty_areaname'] = df['faculty_name_and_area'].apply(get_areas)
    df['faculty_name_and_area'] = df['faculty_name_and_area'].apply(get_name)
    df = df.rename(columns={"faculty_name_and_area": "faculty_name"})
    new_df = df
    new_df['faculty_areaname'] = new_df.faculty_areaname.str.split(',')
    new_df = new_df.explode('faculty_areaname')
    three_df.append(new_df)
three_df = pd.concat(three_df)

  0%|          | 0/3 [00:00<?, ?it/s]

Carnegie Mellon University

 33%|███▎      | 1/3 [00:00<00:00,  3.72it/s]

Univ of Illinois at UrbanaChampaign

 67%|██████▋   | 2/3 [00:00<00:00,  3.98it/s]

Florida State University

100%|██████████| 3/3 [00:01<00:00,  1.79it/s]

In [ ]:
three_df.to_csv('three_uni.csv')

In [ ]:
import pandas as pd

df = pd.read_csv('funding_info2.csv')
df.sample(10)

,Unnamed: 0,Unnamed: 0.1,faculty_name,publications,adjusted,university_name,faculty_home_page,dblp,faculty_areaname,providing_assitantship,matched_ratio,match_words
183,183,151,Seth Copen Goldstein,2.0,0.5,Carnegie Mellon University,http://www.cs.cmu.edu/~seth,https://dblp.org/pers/hd/g/Goldstein:Seth_Copen,robotics,0,0.000000,NaN
104,104,88,Virginia Smith,15.0,3.4,Carnegie Mellon University,http://users.ece.cmu.edu/~smithv,https://dblp.org/pers/hd/s/Smith:Virginia,ml,0,0.000000,NaN
115,115,97,Nihar B Shah,13.0,4.3,Carnegie Mellon University,http://www.cs.cmu.edu/~nihars,https://dblp.org/pers/hd/s/Shah:Nihar_B%3D,ai,0,0.000000,NaN
268,268,52,Matus Telgarsky,16.0,7.1,Univ of Illinois at UrbanaChampaign,http://mjt.cs.illinois.edu,https://dblp.org/pers/hd/t/Telgarsky:Matus,ml,0,0.000000,NaN
72,72,60,Norman M Sadeh,22.0,4.2,Carnegie Mellon University,http://www.normsadeh.org,https://dblp.org/pers/hd/s/Sadeh:Norman_M%3D,nlp,0,0.000000,NaN
336,336,105,Luke N. Olson,2.0,0.5,Univ of Illinois at UrbanaChampaign,http://lukeo.cs.illinois.edu,https://dblp.org/pers/hd/o/Olson:Luke_N%3D,unknown,0,0.000000,NaN
300,300,78,Lav R Varshney,8.0,1.9,Univ of Illinois at UrbanaChampaign,http://varshney.web.engr.illinois.edu,https://dblp.org/pers/hd/v/Varshney:Lav_R%3D,ai,0,0.000000,NaN
112,112,95,Andr Platzer,13.0,6.0,Carnegie Mellon University,http://symbolaris.com,https://dblp.org/pers/hd/p/Platzer:Andr%3Deacu...,logic,0,0.000000,NaN
79,79,66,Anupam Datta,20.0,4.9,Carnegie Mellon University,http://www.andrew.cmu.edu/user/danupam,https://dblp.org/pers/hd/d/Datta:Anupam,security,0,0.000000,NaN
49,49,44,Pravesh Kothari,27.0,8.1,Carnegie Mellon University,https://www.cs.cmu.edu/~praveshk,https://dblp.org/pers/hd/k/Kothari:Pravesh,theory,1,0.090909,"fellowships,"

In [1]:
# Querying Homepages
import requests
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup
import pandas as pd
import re
import matplotlib.pyplot as plt
from tqdm import tqdm
from urllib.error import URLError
import time
from selenium.common.exceptions import WebDriverException

options = Options()
options.headless = True
driver = webdriver.Chrome(options=options)
driver.implicitly_wait(3)

search_terms = ['openings', 'self-motivated', 'graduate student position', 'research assistantship', 'postdoctoral fellowship',
                'research grants', 'fellowships', 'scholarships', 'strong research skills', 'ability to work independently', 'prior research experience']

df = pd.read_csv('three_uni.csv')
df['providing_assitantship'] = 0
df['matched_ratio'] = 0
df['match_words'] = ""

for i in tqdm(range(len(df))):
    if i > 0 and df.loc[i-1, 'faculty_home_page'] == df.loc[i, 'faculty_home_page']:
        df.loc[i, 'providing_assitantship'] = df.loc[i-1, 'providing_assitantship']
        df.loc[i, 'matched_ratio'] = df.loc[i-1, 'matched_ratio']
    df.loc[i, 'faculty_home_page']
    url = df.loc[i, 'faculty_home_page']
    retry_count = 0
    while retry_count < 3:
        try:
            driver.get(url)
            html = driver.page_source
            soup = BeautifulSoup(html, 'html.parser')

            html = soup.prettify()
            html = str(html).lower()
            count = 0
            matched = ""
            for s in search_terms:
                if s in html:
                    df.loc[i, 'providing_assitantship'] = 1
                    count += 1
                    matched = s + ', '
            df.loc[i, 'matched_ratio'] = count / len(search_terms)
            df.loc[i, 'match_words'] = matched
            break
        except (URLError, WebDriverException) as e:
            retry_count += 1
            print(f"Error: {e}. Retrying in 2 seconds...")
            time.sleep(2)
    if retry_count >= 3:
        print(f"Failed to retrieve data for URL: {url}")

driver.quit()

openings
self-motivated
graduate student position
research assistantship
postdoctoral fellowship
research grants
fellowships
scholarships
strong research skills
ability to work independently
prior research experience

In [ ]:
#Plotting
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('funding_info2.csv')
df = df[df['providing_assitantship']==1]

ax = df['faculty_areaname'].value_counts().plot.bar()
ax.bar_label(ax.containers[0], label_type="edge")
plt.title('Funding offer count in differecnt areas of three Universities: CMU, UIUC and FSU')
plt.xlabel('Available Offers')
plt.ylabel('Area')
plt.legend(loc="upper right")
plt.show()

all_df = pd.read_csv('all_faculty_info.csv')
all_df = all_df.drop(all_df[all_df['faculty_areaname'] == 'unknown'].index)

top_areas = all_df['faculty_areaname'].value_counts().head(10)
ax = top_areas.plot(kind='pie', autopct='%1.1f%%')
ax.set_ylabel('')
ax.legend().remove()
plt.title('Top 10 Areas with the Highest Faculty Population')
plt.show()

ml_faculties = all_df[all_df['faculty_areaname']=='ml']
ml_faculties = ml_faculties.sort_values('publications', ascending=False)
ml_faculties = ml_faculties.loc[:, ['faculty_name', 'publications', 'university_name']]
print(ml_faculties.head(7))

ml_faculties = ml_faculties.sort_values('publications', ascending=False)

top_faculties = ml_faculties.head(5)

ax = top_faculties.plot(kind='barh', x='faculty_name', y='publications')

for index, row in top_faculties.iterrows():
    ax.text(row['publications']+1, index, row['publications'], ha='left', va='center')
    ax.text(row['publications']+1, index-0.2, f"{row['publications']} ({index+1})", ha='left', va='center')


ax.set_xlabel('Number of Publications')

y_label = 'Faculty Name\nUniversity Name'
ax.set_ylabel(y_label)


for i, name in enumerate(top_faculties['university_name']):
    ax.text(0, i, name, ha='left', va='center')

ax.invert_yaxis()
ax.bar_label(ax.containers[0], label_type="edge")
plt.title('Top 5 Faculties in ML by Number of Publications (2012-2022)')

plt.show()