In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup
import requests
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

## CS rankings

In [3]:
# Opening the html file
HTMLFile = open("example2.html", "r", encoding="utf8")
  
# Reading the file
index = HTMLFile.read()

# Creating a BeautifulSoup object and specifying the parser
S = BeautifulSoup(index, 'html.parser')

### For all universities
## Work In Progress

In [4]:
univ_data = pd.read_csv("uni_infos.csv")

In [5]:
univ_data.head()

,Unnamed: 0,rank,uni_name,count,faculty,div_ids
0,0,1,Carnegie Mellon University,20.9,166,Carnegie%20Mellon%20University-faculty
1,1,2,Univ of Illinois at UrbanaChampaign,14.6,113,Univ.%20of%20Illinois%20at%20Urbana-Champaign-...
2,2,3,Massachusetts Institute of Technology,13.0,94,Massachusetts%20Institute%20of%20Technology-fa...
3,3,4,Univ of California San Diego,11.9,113,Univ.%20of%20California%20-%20San%20Diego-faculty
4,4,5,University of Michigan,11.4,100,University%20of%20Michigan-faculty

In [5]:
univ_data.drop("Unnamed: 0", axis=1, inplace=True)

In [7]:
univ_data.head()

,Unnamed: 0,rank,uni_name,count,faculty,div_ids
0,0,1,Carnegie Mellon University,20.9,166,Carnegie%20Mellon%20University-faculty
1,1,2,Univ of Illinois at UrbanaChampaign,14.6,113,Univ.%20of%20Illinois%20at%20Urbana-Champaign-...
2,2,3,Massachusetts Institute of Technology,13.0,94,Massachusetts%20Institute%20of%20Technology-fa...
3,3,4,Univ of California San Diego,11.9,113,Univ.%20of%20California%20-%20San%20Diego-faculty
4,4,5,University of Michigan,11.4,100,University%20of%20Michigan-faculty

In [ ]:
# univ_list = list(univ_data.div_ids)
# uni_name_list = list(univ_data.uni_name)

# for univ in univ_list:
#     for uni_name in uni_name_list:
#         table = S.find('div', {'id': univ})
#         df = pd.read_html(str(table))[0]
#         df.drop('Unnamed: 0', axis=1, inplace=True)
#         df = df.replace(to_replace='None', value=np.nan).dropna()
#         df.rename(columns={'Faculty':'Faculty Name'}, inplace=True)
#         df['University'] = uni_name
#         df = df.reset_index()
#         df.drop('index', axis=1, inplace=True)

#         headers = []
#         data = []
#         for row in table.find_all('tr'):
#             row_data = []
#             for cell in row.find_all(['td', 'th']):
#                 # Extract hyperlink if it exists
#                 link = cell.find('a')
#                 if link is not None:
#                     row_data.append(link.get('href'))
#                 else:
#                     row_data.append(cell.text.strip())

#                 # Extract header if it exists
#                 if cell.name == 'a':
#                     if link is not None:
#                         headers.append('link_row'+ row_data[-1])
#             if row_data:
#                 data.append(row_data)

#         df2 = pd.DataFrame(data)
#         df2.columns = df2.iloc[0]
#         df2 = df2[1:]
#         df2.rename(columns={'Faculty':'Faculty Home Page'}, inplace=True)
#         df2 = df2.replace(to_replace='None', value=np.nan).dropna()
#         df2 = df2.iloc[: , :-1]
#         df2 = df2.iloc[: , 1:]
#         df2.columns.values[1] = 'dblp'
#         df2 = df2.reset_index()
#         df2.drop('index', axis=1, inplace=True)
#         df_car = pd.concat([df, df2], axis=1, join='inner')

### Carnegie Mellon University

In [8]:
table = S.find('div', {'id': 'Carnegie%20Mellon%20University-faculty'})

In [9]:
df = pd.read_html(str(table))[0]

In [10]:
df

     Unnamed: 0                           Faculty  # Pubs  Adj. #
0           NaN                Graham Neubig  nlp   135.0    35.1
1           NaN                               NaN     NaN     NaN
2           NaN        Abhinav Gupta 0001  vision   111.0    32.3
3           NaN                               NaN     NaN     NaN
4           NaN  David P. Woodruff  ml  ,  theory    99.0    33.7
..          ...                               ...     ...     ...
327         NaN                               NaN     NaN     NaN
328         NaN                     Dana S. Scott     1.0     0.2
329         NaN                               NaN     NaN     NaN
330         NaN                   John C. Stamper     1.0     0.3
331         NaN                               NaN     NaN     NaN

[332 rows x 4 columns]

In [11]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df = df.replace(to_replace='None', value=np.nan).dropna()
df.rename(columns={'Faculty':'Faculty Name'}, inplace=True)
df['University'] = 'Carnegie Mellon University'
df = df.reset_index()
df.drop('index', axis=1, inplace=True)
df

,Faculty Name,# Pubs,Adj. #,University
0,Graham Neubig nlp,135.0,35.1,Carnegie Mellon University
1,Abhinav Gupta 0001 vision,111.0,32.3,Carnegie Mellon University
2,"David P. Woodruff ml , theory",99.0,33.7,Carnegie Mellon University
3,Howie Choset robotics,83.0,19.5,Carnegie Mellon University
4,"Tuomas Sandholm ai , ml",80.0,29.8,Carnegie Mellon University
...,...,...,...,...
161,Bruce H. Krogh,1.0,0.2,Carnegie Mellon University
162,Jack Mostow,1.0,0.5,Carnegie Mellon University
163,Priya Narasimhan,1.0,0.2,Carnegie Mellon University
164,Dana S. Scott,1.0,0.2,Carnegie Mellon University
165,John C. Stamper,1.0,0.3,Carnegie Mellon University

In [21]:
headers = []
data = []
for row in table.find_all('tr'):
    row_data = []
    for cell in row.find_all(['td', 'th']):
        # Extract hyperlink if it exists
        link = cell.find('a')
        if link is not None:
            row_data.append(link.get('href'))
        else:
            row_data.append(cell.text.strip())
            
        # Extract header if it exists
        if cell.name == 'a':
            if link is not None:
                headers.append('link_row'+ row_data[-1])
    if row_data:
        data.append(row_data)

df2 = pd.DataFrame(data)

In [22]:
df2

,0,1,2,3
0,,Faculty,# Pubs,Adj. #
1,,http://www.phontron.com,https://dblp.org/pers/hd/n/Neubig:Graham,35.1
2,,None,None,None
3,,http://www.cs.cmu.edu/~abhinavg,https://dblp.org/pers/hd/g/Gupta_0001:Abhinav,32.3
4,,None,None,None
...,...,...,...,...
328,,None,None,None
329,,http://www.cs.cmu.edu/~scott,https://dblp.org/pers/hd/s/Scott:Dana_S%3D,0.2
330,,None,None,None
331,,https://www.hcii.cmu.edu/people/john-stamper,https://dblp.org/pers/hd/s/Stamper:John_C%3D,0.3
332,,None,None,None

In [23]:
df2.columns = df2.iloc[0]
df2 = df2[1:]
df2.rename(columns={'Faculty':'Faculty Home Page'}, inplace=True)
df2.rename(columns={'# Pubs':'publications'}, inplace=True)

/var/folders/2p/_1lgncgd6n75t6st7rp56fzh0000gn/T/ipykernel_1076/1743906705.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.rename(columns={'Faculty':'Faculty Home Page'}, inplace=True)
/var/folders/2p/_1lgncgd6n75t6st7rp56fzh0000gn/T/ipykernel_1076/1743906705.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.rename(columns={'# Pubs':'publications'}, inplace=True)

In [24]:
df2 = df2.replace(to_replace='None', value=np.nan).dropna()

In [25]:
df2

,,Faculty Home Page,# Pubs,Adj. #
1,,http://www.phontron.com,https://dblp.org/pers/hd/n/Neubig:Graham,35.1
3,,http://www.cs.cmu.edu/~abhinavg,https://dblp.org/pers/hd/g/Gupta_0001:Abhinav,32.3
5,,http://www.cs.cmu.edu/~dwoodruf,https://dblp.org/pers/hd/w/Woodruff:David_P%3D,33.7
7,,http://www.cs.cmu.edu/~./choset,https://dblp.org/pers/hd/c/Choset:Howie,19.5
9,,http://www.cs.cmu.edu/~sandholm,https://dblp.org/pers/hd/s/Sandholm:Tuomas,29.8
...,...,...,...,...
323,,https://www.ece.cmu.edu/directory/details/89,https://dblp.org/pers/hd/k/Krogh:Bruce_H%3D,0.2
325,,http://www.cs.cmu.edu/~mostow,https://dblp.org/pers/hd/m/Mostow:Jack,0.5
327,,http://www.cs.cmu.edu/~priya,https://dblp.org/pers/hd/n/Narasimhan:Priya,0.2
329,,http://www.cs.cmu.edu/~scott,https://dblp.org/pers/hd/s/Scott:Dana_S%3D,0.2
331,,https://www.hcii.cmu.edu/people/john-stamper,https://dblp.org/pers/hd/s/Stamper:John_C%3D,0.3

In [77]:
df2.to_csv("output.csv", index=False)

In [28]:
df2 = df2.iloc[: , :-1]
df2 = df2.iloc[: , 1:]
df2.columns.values[1] = 'dblp'
df2 = df2.reset_index()
df2.drop('index', axis=1, inplace=True)

In [31]:
df_car = pd.concat([df, df2], axis=1, join='inner')
print(df_car.columns)
df_car.columns = ["faculty_name", "publications", "adj", "university_name", "faculty_home_page", "dblp"]
df_car

Index(['Faculty Name', '# Pubs', 'Adj. #', 'University', 'Faculty Home Page',
       'dblp'],
      dtype='object')

,faculty_name,publications,adj,university_name,faculty_home_page,dblp
0,Graham Neubig nlp,135.0,35.1,Carnegie Mellon University,http://www.phontron.com,https://dblp.org/pers/hd/n/Neubig:Graham
1,Abhinav Gupta 0001 vision,111.0,32.3,Carnegie Mellon University,http://www.cs.cmu.edu/~abhinavg,https://dblp.org/pers/hd/g/Gupta_0001:Abhinav
2,"David P. Woodruff ml , theory",99.0,33.7,Carnegie Mellon University,http://www.cs.cmu.edu/~dwoodruf,https://dblp.org/pers/hd/w/Woodruff:David_P%3D
3,Howie Choset robotics,83.0,19.5,Carnegie Mellon University,http://www.cs.cmu.edu/~./choset,https://dblp.org/pers/hd/c/Choset:Howie
4,"Tuomas Sandholm ai , ml",80.0,29.8,Carnegie Mellon University,http://www.cs.cmu.edu/~sandholm,https://dblp.org/pers/hd/s/Sandholm:Tuomas
...,...,...,...,...,...,...
161,Bruce H. Krogh,1.0,0.2,Carnegie Mellon University,https://www.ece.cmu.edu/directory/details/89,https://dblp.org/pers/hd/k/Krogh:Bruce_H%3D
162,Jack Mostow,1.0,0.5,Carnegie Mellon University,http://www.cs.cmu.edu/~mostow,https://dblp.org/pers/hd/m/Mostow:Jack
163,Priya Narasimhan,1.0,0.2,Carnegie Mellon University,http://www.cs.cmu.edu/~priya,https://dblp.org/pers/hd/n/Narasimhan:Priya
164,Dana S. Scott,1.0,0.2,Carnegie Mellon University,http://www.cs.cmu.edu/~scott,https://dblp.org/pers/hd/s/Scott:Dana_S%3D
165,John C. Stamper,1.0,0.3,Carnegie Mellon University,https://www.hcii.cmu.edu/people/john-stamper,https://dblp.org/pers/hd/s/Stamper:John_C%3D

### Univ. of Illinois at Urbana-Champaign

In [78]:
table = S.find('div', {'id': 'Univ.%20of%20Illinois%20at%20Urbana-Champaign-faculty'})
headers = []
data = []
for row in table.find_all('tr'):
    row_data = []
    for cell in row.find_all(['td', 'th']):
        # Extract hyperlink if it exists
        link = cell.find('a')
        if link is not None:
            row_data.append(link.get('href'))
        else:
            row_data.append(cell.text.strip())
            
        # Extract header if it exists
        if cell.name == 'a':
            if link is not None:
                headers.append('link_row'+ row_data[-1])
    if row_data:
        data.append(row_data)

df3 = pd.DataFrame(data)
df3.columns = df3.iloc[0]
df3 = df3[1:]
df3.rename(columns={'Faculty':'Faculty Home Page'}, inplace=True)
df3 = df3.replace(to_replace='None', value=np.nan).dropna()
df3

,,Faculty Home Page,# Pubs,Adj. #
1,,http://hanj.cs.illinois.edu,https://dblp.org/pers/hd/h/Han_0001:Jiawei,19.8
3,,http://www.alexander-schwing.de,https://dblp.org/pers/hd/s/Schwing:Alexander_G%3D,26.3
5,,http://blender.cs.illinois.edu/hengji.html,https://dblp.org/pers/hd/j/Ji:Heng,20.7
7,,http://boli.cs.illinois.edu,https://dblp.org/pers/hd/l/Li_0026:Bo,12.8
9,,http://iacoma.cs.uiuc.edu/josep/torrellas.html,https://dblp.org/pers/hd/t/Torrellas:Josep,14.3
...,...,...,...,...
217,,http://www.cigi.illinois.edu/shaowen,https://dblp.org/pers/hd/w/Wang:Shaowen,0.3
219,,https://cs.illinois.edu/directory/profile/rhk,https://dblp.org/pers/hd/k/Kravets:Robin,0.3
221,,https://ischool.illinois.edu/people/bertram-lu...,https://dblp.org/pers/hd/l/Lud=auml=scher:Bertram,0.3
223,,http://polaris.cs.uiuc.edu/~padua,https://dblp.org/pers/hd/p/Padua:David_A%3D,0.2
225,,https://ischool.illinois.edu/people/victoria-s...,https://dblp.org/pers/hd/s/Stodden:Victoria,0.2

In [108]:
df3 = df3.iloc[: , :-1]
df3 = df3.iloc[: , 1:]

In [111]:
df3.columns.values[1] = 'dblp'
df3

,Faculty Home Page,dblp
1,http://hanj.cs.illinois.edu,https://dblp.org/pers/hd/h/Han_0001:Jiawei
3,http://www.alexander-schwing.de,https://dblp.org/pers/hd/s/Schwing:Alexander_G%3D
5,http://blender.cs.illinois.edu/hengji.html,https://dblp.org/pers/hd/j/Ji:Heng
7,http://boli.cs.illinois.edu,https://dblp.org/pers/hd/l/Li_0026:Bo
9,http://iacoma.cs.uiuc.edu/josep/torrellas.html,https://dblp.org/pers/hd/t/Torrellas:Josep
...,...,...
217,http://www.cigi.illinois.edu/shaowen,https://dblp.org/pers/hd/w/Wang:Shaowen
219,https://cs.illinois.edu/directory/profile/rhk,https://dblp.org/pers/hd/k/Kravets:Robin
221,https://ischool.illinois.edu/people/bertram-lu...,https://dblp.org/pers/hd/l/Lud=auml=scher:Bertram
223,http://polaris.cs.uiuc.edu/~padua,https://dblp.org/pers/hd/p/Padua:David_A%3D
225,https://ischool.illinois.edu/people/victoria-s...,https://dblp.org/pers/hd/s/Stodden:Victoria

In [116]:
df3 = df3.reset_index()

,index,Faculty Home Page,dblp
0,1,http://hanj.cs.illinois.edu,https://dblp.org/pers/hd/h/Han_0001:Jiawei
1,3,http://www.alexander-schwing.de,https://dblp.org/pers/hd/s/Schwing:Alexander_G%3D
2,5,http://blender.cs.illinois.edu/hengji.html,https://dblp.org/pers/hd/j/Ji:Heng
3,7,http://boli.cs.illinois.edu,https://dblp.org/pers/hd/l/Li_0026:Bo
4,9,http://iacoma.cs.uiuc.edu/josep/torrellas.html,https://dblp.org/pers/hd/t/Torrellas:Josep
...,...,...,...
108,217,http://www.cigi.illinois.edu/shaowen,https://dblp.org/pers/hd/w/Wang:Shaowen
109,219,https://cs.illinois.edu/directory/profile/rhk,https://dblp.org/pers/hd/k/Kravets:Robin
110,221,https://ischool.illinois.edu/people/bertram-lu...,https://dblp.org/pers/hd/l/Lud=auml=scher:Bertram
111,223,http://polaris.cs.uiuc.edu/~padua,https://dblp.org/pers/hd/p/Padua:David_A%3D
112,225,https://ischool.illinois.edu/people/victoria-s...,https://dblp.org/pers/hd/s/Stodden:Victoria

In [117]:
df3.drop('index', axis=1, inplace=True)
df3

,Faculty Home Page,dblp
0,http://hanj.cs.illinois.edu,https://dblp.org/pers/hd/h/Han_0001:Jiawei
1,http://www.alexander-schwing.de,https://dblp.org/pers/hd/s/Schwing:Alexander_G%3D
2,http://blender.cs.illinois.edu/hengji.html,https://dblp.org/pers/hd/j/Ji:Heng
3,http://boli.cs.illinois.edu,https://dblp.org/pers/hd/l/Li_0026:Bo
4,http://iacoma.cs.uiuc.edu/josep/torrellas.html,https://dblp.org/pers/hd/t/Torrellas:Josep
...,...,...
108,http://www.cigi.illinois.edu/shaowen,https://dblp.org/pers/hd/w/Wang:Shaowen
109,https://cs.illinois.edu/directory/profile/rhk,https://dblp.org/pers/hd/k/Kravets:Robin
110,https://ischool.illinois.edu/people/bertram-lu...,https://dblp.org/pers/hd/l/Lud=auml=scher:Bertram
111,http://polaris.cs.uiuc.edu/~padua,https://dblp.org/pers/hd/p/Padua:David_A%3D
112,https://ischool.illinois.edu/people/victoria-s...,https://dblp.org/pers/hd/s/Stodden:Victoria

In [79]:
df4 = pd.read_html(str(table))[0]

In [81]:
df4.drop('Unnamed: 0', axis=1, inplace=True)

In [83]:
df4 = df4.replace(to_replace='None', value=np.nan).dropna()

In [85]:
df4.rename(columns={'Faculty':'Faculty Name'}, inplace=True)

In [87]:
df4['University'] = 'Univ. of Illinois at Urbana-Champaign'

In [118]:
df4 = df4.reset_index()
df4.drop('index', axis=1, inplace=True)
df4

,Faculty Name,# Pubs,Adj. #,University
0,"Jiawei Han 0001 nlp , web+ir",106.0,19.8,Univ. of Illinois at Urbana-Champaign
1,"Alexander G. Schwing vision , ml",95.0,26.3,Univ. of Illinois at Urbana-Champaign
2,Heng Ji nlp,93.0,20.7,Univ. of Illinois at Urbana-Champaign
3,Bo Li 0026 ml,66.0,12.8,Univ. of Illinois at Urbana-Champaign
4,Josep Torrellas arch,58.0,14.3,Univ. of Illinois at Urbana-Champaign
...,...,...,...,...
108,Shaowen Wang web+ir,2.0,0.3,Univ. of Illinois at Urbana-Champaign
109,Robin Kravets,1.0,0.3,Univ. of Illinois at Urbana-Champaign
110,Bertram Ludäscher,1.0,0.3,Univ. of Illinois at Urbana-Champaign
111,David A. Padua,1.0,0.2,Univ. of Illinois at Urbana-Champaign
112,Victoria Stodden,1.0,0.2,Univ. of Illinois at Urbana-Champaign

In [119]:
df_illi = pd.concat([df4, df3], axis=1, join='inner')
df_illi

,Faculty Name,# Pubs,Adj. #,University,Faculty Home Page,dblp
0,"Jiawei Han 0001 nlp , web+ir",106.0,19.8,Univ. of Illinois at Urbana-Champaign,http://hanj.cs.illinois.edu,https://dblp.org/pers/hd/h/Han_0001:Jiawei
1,"Alexander G. Schwing vision , ml",95.0,26.3,Univ. of Illinois at Urbana-Champaign,http://www.alexander-schwing.de,https://dblp.org/pers/hd/s/Schwing:Alexander_G%3D
2,Heng Ji nlp,93.0,20.7,Univ. of Illinois at Urbana-Champaign,http://blender.cs.illinois.edu/hengji.html,https://dblp.org/pers/hd/j/Ji:Heng
3,Bo Li 0026 ml,66.0,12.8,Univ. of Illinois at Urbana-Champaign,http://boli.cs.illinois.edu,https://dblp.org/pers/hd/l/Li_0026:Bo
4,Josep Torrellas arch,58.0,14.3,Univ. of Illinois at Urbana-Champaign,http://iacoma.cs.uiuc.edu/josep/torrellas.html,https://dblp.org/pers/hd/t/Torrellas:Josep
...,...,...,...,...,...,...
108,Shaowen Wang web+ir,2.0,0.3,Univ. of Illinois at Urbana-Champaign,http://www.cigi.illinois.edu/shaowen,https://dblp.org/pers/hd/w/Wang:Shaowen
109,Robin Kravets,1.0,0.3,Univ. of Illinois at Urbana-Champaign,https://cs.illinois.edu/directory/profile/rhk,https://dblp.org/pers/hd/k/Kravets:Robin
110,Bertram Ludäscher,1.0,0.3,Univ. of Illinois at Urbana-Champaign,https://ischool.illinois.edu/people/bertram-lu...,https://dblp.org/pers/hd/l/Lud=auml=scher:Bertram
111,David A. Padua,1.0,0.2,Univ. of Illinois at Urbana-Champaign,http://polaris.cs.uiuc.edu/~padua,https://dblp.org/pers/hd/p/Padua:David_A%3D
112,Victoria Stodden,1.0,0.2,Univ. of Illinois at Urbana-Champaign,https://ischool.illinois.edu/people/victoria-s...,https://dblp.org/pers/hd/s/Stodden:Victoria

In [123]:
df_final = df_car.append(df_illi)
df_final.shape

(279, 6)

In [125]:
df_final.to_csv("final_output.csv", index=False)

### Florida State University

In [127]:
table = S.find('div', {'id': 'Florida%20State%20University-faculty'})
df5 = pd.read_html(str(table))[0]
df5

    Unnamed: 0                            Faculty  # Pubs  Adj. #
0          NaN            Viet Tung Hoang  crypto    22.0     8.3
1          NaN                                NaN     NaN     NaN
2          NaN      Jie Yang 0003  mobile  ,  hci    18.0     3.6
3          NaN                                NaN     NaN     NaN
4          NaN   Zhi Wang 0004  security  ,  arch    14.0     2.3
5          NaN                                NaN     NaN     NaN
6          NaN                    Guang Wang  hci    13.0     2.2
7          NaN                                NaN     NaN     NaN
8          NaN  Grigory Fedyukovich  logic  ,  pl     9.0     3.0
9          NaN                                NaN     NaN     NaN
10         NaN                 Xin Yuan 0001  hpc     7.0     1.5
11         NaN                                NaN     NaN     NaN
12         NaN                    Weikuan Yu  hpc     5.0     1.2
13         NaN                                NaN     NaN     NaN
14         NaN             Shayok Chakraborty  ai     4.0     2.3
15         NaN                                NaN     NaN     NaN
16         NaN                   Sonia Haiduc  se     3.0     0.4
17         NaN                                NaN     NaN     NaN
18         NaN                  Piyush Kumar  hci     3.0     0.7
19         NaN                                NaN     NaN     NaN
20         NaN                  Peixiang Zhao  db     2.0     1.0
21         NaN                                NaN     NaN     NaN
22         NaN                        Yi Liu 0059     1.0     0.1
23         NaN                                NaN     NaN     NaN
24         NaN                         Xiuwen Liu     1.0     0.3
25         NaN                                NaN     NaN     NaN
26         NaN                          An-I Wang     1.0     0.3
27         NaN                                NaN     NaN     NaN

In [128]:
df5.drop('Unnamed: 0', axis=1, inplace=True)
df5 = df5.replace(to_replace='None', value=np.nan).dropna()
df5.rename(columns={'Faculty':'Faculty Name'}, inplace=True)
df5['University'] = 'Florida State University'
df5 = df5.reset_index()
df5.drop('index', axis=1, inplace=True)
df5

,Faculty Name,# Pubs,Adj. #,University
0,Viet Tung Hoang crypto,22.0,8.3,Florida State University
1,"Jie Yang 0003 mobile , hci",18.0,3.6,Florida State University
2,"Zhi Wang 0004 security , arch",14.0,2.3,Florida State University
3,Guang Wang hci,13.0,2.2,Florida State University
4,"Grigory Fedyukovich logic , pl",9.0,3.0,Florida State University
5,Xin Yuan 0001 hpc,7.0,1.5,Florida State University
6,Weikuan Yu hpc,5.0,1.2,Florida State University
7,Shayok Chakraborty ai,4.0,2.3,Florida State University
8,Sonia Haiduc se,3.0,0.4,Florida State University
9,Piyush Kumar hci,3.0,0.7,Florida State University
10,Peixiang Zhao db,2.0,1.0,Florida State University
11,Yi Liu 0059,1.0,0.1,Florida State University
12,Xiuwen Liu,1.0,0.3,Florida State University
13,An-I Wang,1.0,0.3,Florida State University

In [129]:
headers = []
data = []
for row in table.find_all('tr'):
    row_data = []
    for cell in row.find_all(['td', 'th']):
        # Extract hyperlink if it exists
        link = cell.find('a')
        if link is not None:
            row_data.append(link.get('href'))
        else:
            row_data.append(cell.text.strip())
            
        # Extract header if it exists
        if cell.name == 'a':
            if link is not None:
                headers.append('link_row'+ row_data[-1])
    if row_data:
        data.append(row_data)

df6 = pd.DataFrame(data)
df6.columns = df6.iloc[0]
df6 = df6[1:]
df6.rename(columns={'Faculty':'Faculty Home Page'}, inplace=True)
df6 = df6.replace(to_replace='None', value=np.nan).dropna()
df6 = df6.iloc[: , :-1]
df6 = df6.iloc[: , 1:]
df6.columns.values[1] = 'dblp'
df6 = df6.reset_index()
df6.drop('index', axis=1, inplace=True)
df6

,Faculty Home Page,dblp
0,http://www.cs.fsu.edu/~tvhoang,https://dblp.org/pers/hd/h/Hoang:Viet_Tung
1,http://www.cs.fsu.edu/~jieyang,https://dblp.org/pers/hd/y/Yang_0003:Jie
2,http://www.cs.fsu.edu/~zwang,https://dblp.org/pers/hd/w/Wang_0004:Zhi
3,https://guangwang.me,https://dblp.org/pers/hd/w/Wang:Guang
4,https://www.cs.princeton.edu/~grigoryf/about.html,https://dblp.org/pers/hd/f/Fedyukovich:Grigory
5,http://www.cs.fsu.edu/~xyuan,https://dblp.org/pers/hd/y/Yuan_0001:Xin
6,http://www.cs.fsu.edu/~yuw,https://dblp.org/pers/hd/y/Yu:Weikuan
7,https://shayokch.com,https://dblp.org/pers/hd/c/Chakraborty:Shayok
8,https://www.cs.fsu.edu/~shaiduc,https://dblp.org/pers/hd/h/Haiduc:Sonia
9,http://compgeom.com/~piyush,https://dblp.org/pers/hd/k/Kumar:Piyush
10,http://www.cs.fsu.edu/~zhao,https://dblp.org/pers/hd/z/Zhao:Peixiang
11,https://jacoblau0513.github.io,https://dblp.org/pers/hd/l/Liu_0059:Yi
12,http://www.koofers.com/florida-state-universit...,https://dblp.org/pers/hd/l/Liu:Xiuwen
13,http://www.cs.fsu.edu/~awang,https://dblp.org/pers/hd/w/Wang:An%3DI

In [130]:
df_fsu = pd.concat([df5, df6], axis=1, join='inner')
df_fsu

,Faculty Name,# Pubs,Adj. #,University,Faculty Home Page,dblp
0,Viet Tung Hoang crypto,22.0,8.3,Florida State University,http://www.cs.fsu.edu/~tvhoang,https://dblp.org/pers/hd/h/Hoang:Viet_Tung
1,"Jie Yang 0003 mobile , hci",18.0,3.6,Florida State University,http://www.cs.fsu.edu/~jieyang,https://dblp.org/pers/hd/y/Yang_0003:Jie
2,"Zhi Wang 0004 security , arch",14.0,2.3,Florida State University,http://www.cs.fsu.edu/~zwang,https://dblp.org/pers/hd/w/Wang_0004:Zhi
3,Guang Wang hci,13.0,2.2,Florida State University,https://guangwang.me,https://dblp.org/pers/hd/w/Wang:Guang
4,"Grigory Fedyukovich logic , pl",9.0,3.0,Florida State University,https://www.cs.princeton.edu/~grigoryf/about.html,https://dblp.org/pers/hd/f/Fedyukovich:Grigory
5,Xin Yuan 0001 hpc,7.0,1.5,Florida State University,http://www.cs.fsu.edu/~xyuan,https://dblp.org/pers/hd/y/Yuan_0001:Xin
6,Weikuan Yu hpc,5.0,1.2,Florida State University,http://www.cs.fsu.edu/~yuw,https://dblp.org/pers/hd/y/Yu:Weikuan
7,Shayok Chakraborty ai,4.0,2.3,Florida State University,https://shayokch.com,https://dblp.org/pers/hd/c/Chakraborty:Shayok
8,Sonia Haiduc se,3.0,0.4,Florida State University,https://www.cs.fsu.edu/~shaiduc,https://dblp.org/pers/hd/h/Haiduc:Sonia
9,Piyush Kumar hci,3.0,0.7,Florida State University,http://compgeom.com/~piyush,https://dblp.org/pers/hd/k/Kumar:Piyush
10,Peixiang Zhao db,2.0,1.0,Florida State University,http://www.cs.fsu.edu/~zhao,https://dblp.org/pers/hd/z/Zhao:Peixiang
11,Yi Liu 0059,1.0,0.1,Florida State University,https://jacoblau0513.github.io,https://dblp.org/pers/hd/l/Liu_0059:Yi
12,Xiuwen Liu,1.0,0.3,Florida State University,http://www.koofers.com/florida-state-universit...,https://dblp.org/pers/hd/l/Liu:Xiuwen
13,An-I Wang,1.0,0.3,Florida State University,http://www.cs.fsu.edu/~awang,https://dblp.org/pers/hd/w/Wang:An%3DI

In [131]:
df_final = df_final.append(df_fsu)
df_final.shape

(293, 6)

In [132]:
df_final.to_csv("final_output_new.csv", index=False)